<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.thang.smartmoney">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.SET_ALARM" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />


    <application
        android:allowBackup="true"
        android:icon="@drawable/lo_go"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity" android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Login_Activity" android:screenOrientation="portrait"/>
        <activity android:name=".Signup_Activity" android:screenOrientation="portrait"/>
        <activity android:name=".home_activity" android:screenOrientation="portrait"/>
        <activity android:name=".category_activity" android:screenOrientation="portrait"/>
        <activity android:name=".SettingActivity" android:screenOrientation="portrait"/>
        <activity
            android:name=".Activity_ThemGiaoDich"
            android:label="@string/title_activity_them_giao_dich"
            android:theme="@style/AppTheme"
            android:screenOrientation="portrait"/>
        <activity android:name=".edit_giaodich" android:screenOrientation="portrait"/>

        <receiver android:name=".notification.NotifyReceiver" />

        <activity android:name=".Activity_Tiet_Kiem" android:screenOrientation="portrait"/>
        <activity android:name=".Tutorial_Activity" android:screenOrientation="portrait"/>
        <activity android:name=".activity_budget" android:screenOrientation="portrait"/>
        <activity android:name=".activity_budget_add" android:screenOrientation="portrait"/>
        <activity android:name=".activity_budget_info" android:screenOrientation="portrait"/>
        <activity android:name=".AboutActivity" android:screenOrientation="portrait"/>
    </application>

</manifest>